@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
}

nav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  margin: 0px;
  left: 0;
  display: flex;
  flex-wrap: nowrap;

}

nav.top {
  justify-content: space-around;
  background-color: #e6e6e6;
  top: 0;
  align-items: center;
  height: 70px;
  z-index: 5;
}

h1 {
  font-weight: 900;
  font-size: xxx-large;
}

h2 {
  font-size: x-large;
}

body {
  text-align: center;
  background-color: white;
}

h5 {
  text-align: center;
  font-size: 21px;
}

input {
  outline: 0;
  border-width: 0 0 .5px 0;
  border-color: #e6e6e6;
  font-size: 14px;
  margin: 0px auto auto auto;
  text-align: center;
  caret-color: transparent;
}

nav.bottom {
  bottom: 0;
  background-color: #333;
  color: white;
  justify-content: flex-end;
  height: 50px;
  z-index: 1;
}

nav.bottom>button {
  width: 400px;
  right: 0;
  border: 0;
  background-color: #f7da22;
  color: #333;
  font-size: 20px;
}


nav.top button {
  height: 30px;
}

 .cell-bottom {
   float: left;
   border-left: 30px solid #e6e6e6;
   border-top: 52px solid transparent;
   border-bottom: 52px solid transparent;
 }

 .cell-top {
   float: left;
   border-right: 30px solid #e6e6e6;
   border-top: 52px solid transparent;
   border-bottom: 52px solid transparent;

 }

 .cell-center {
   float: left;
   width: 60px;
   height: 104px;
   background-color: #e6e6e6;
      display: flex;
        align-items: center;
        justify-content: center;
 }


 .hex {
   float: left;
   margin-right: -26px;
   margin-bottom: -50px;
 }

 .hex.odd {
   padding-top: 53px;
 }

 .game-wrapper {
   width: 290px;
   background-color: pink;
 }

 .center .cell-center {
   background-color: #f7da22;
 }

 .center .cell-top {
   border-right: 30px solid #f7da22;
 }

 .center .cell-bottom {
   border-left: 30px solid #f7da22;
 }

 .special {
   padding-left: 93.5px;
 }

 nav.top {
   justify-content: space-around;
   background-color: #e6e6e6;
   top: 0;
   align-items: center;
   height: 70px;
   z-index: 5;
 }

 .right-container {
   border-radius: 10px;
   border: 1px solid #e6e6e6;
   padding: 30px;
   height: fit-content;

 }

 .flex {
   display: flex;
   flex-direction: row-reverse;
   flex-wrap: wrap;
   margin-top: 70px;
   justify-content: space-evenly;
   padding-top: 50px;
 }

 .Red {
   color: red
 }

 .Orange {
   color: orange
 }

 .Green {
   color: green
 }

 .Blue {
   color: blue
 }

 .Purple {
   color: purple
 }