@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
}

nav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  margin: 0px;
  left: 0;
  display: flex;
  flex-wrap: nowrap;

}

nav.top {
  justify-content: space-around;
  background-color: #e6e6e6;
  top: 0;
  align-items: center;
  height: 70px;
  z-index: 5;
}

h1 {
  font-weight: 400;
  font-size: xx-large;
}

h2 {
  font-size: large;
}

body {
  text-align: center;
  background-color: white;
}

h5 {
  text-align: center;
  font-size: 21px;
}

input {
  outline: 0;
  border-width: 0 0 .5px 0;
  border-color: #e6e6e6;
  font-size: 14px;
  margin: 0px auto auto auto;
  text-align: center;
}

nav.bottom {
  bottom: 0;
  background-color: #333;
  color: white;
  justify-content: flex-end;
  height: 50px;
  z-index: 1;
}

button {
  font-size: 14px;
}

nav.bottom>button {
  width: 400px;
  right: 0;
  border: 0;
  background-color: #f7da22;
  color: #333;
  font-size: 20px;
}


nav.top button {
  height: 30px;
}