@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-weight: 200;
  font-family: "Libre Franklin";
}

nav {
  position: fixed;
  width: 100%;
  margin: 0px;
  left: 0;
  display: flex;
  flex-wrap: nowrap;

}

nav.top {
  justify-content: space-between;
  top: 0;
  align-items: center;
  height: 70px;
  z-index: 5;
  padding: 0 15px 0 25px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
}

h1 {
  font-weight: 900;
  font-size: xxx-large;
}

h2 {
  font-size: x-large;
}

body {
  text-align: center;
  background-color: white;
}

h5 {
  text-align: center;
  font-size: 21px;
}

input {
  outline: 0;
  border-width: 0 0 .5px 0;
  border-color: #e6e6e6;
  font-size: 14px;
  margin: 0px auto auto auto;
  text-align: center;
  caret-color: transparent;
}

nav.bottom {
  bottom: 0;
  color: white;
  justify-content: flex-start;
  height: 50px;
  z-index: 1;
}

nav.bottom>button {
  width: 400px;
  right: 0;
  background-color: #f7da22;
  color: #333;
  font-size: 20px;
}

.notification {
  border: 2px solid red;
}

.notification::after {
  content: attr(data-count);
  position: absolute;
  top: -10px;
  left: 385px;
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  text-align: center;
  font-size:medium
}


nav.top button {
  height: 30px;
}

 .cell-bottom {
   float: left;
   border-left: 30px solid #e6e6e6;
   border-top: 52px solid transparent;
   border-bottom: 52px solid transparent;
 }

 .cell-top {
   float: left;
   border-right: 30px solid #e6e6e6;
   border-top: 52px solid transparent;
   border-bottom: 52px solid transparent;

 }

 .cell-center {
   float: left;
   width: 60px;
   height: 104px;
   background-color: #e6e6e6;
    display: flex;
        align-items: center;
        justify-content: center;
 }


 .hex {
   float: left;
   margin-right: -26px;
   margin-bottom: -50px;
 }

 .hex.odd {
   padding-top: 53px;
 }

 .game-wrapper {
   width: 290px;
   background-color: pink;
 }

 .center .cell-center {
   background-color: #f7da22;
 }

 .center .cell-top {
   border-right: 30px solid #f7da22;
 }

 .center .cell-bottom {
   border-left: 30px solid #f7da22;
 }

 .special {
   padding-left: 93.5px;
 }

 .right-container {
   border-radius: 10px;
   border: 1px solid #e6e6e6;
   padding: 30px;
   height: fit-content;
   width: 450px;

 }

 .flex {
   display: flex;
   flex-direction: row-reverse;
   flex-wrap: wrap;
   margin: 70px auto 0;
   justify-content: space-between;
   padding-top: 50px;
   max-width: 900px;;
 }

    .score {
      display: flex;
      justify-content: space-evenly;
      font-family: 'Roboto Slab', serif;
    }

 .Red {
   color: red
 }

 .Orange {
   color: orange
 }

 .Green {
   color: green
 }

 .Blue {
   color: blue
 }

 .Purple {
   color: purple
 }

 .messageContainer {
   width: 400px;
   border: .5px solid black;
   min-height: 200px;
   bottom: 0;
   position: fixed;
   left: 0;
   margin-bottom: 50px;
   background-color: white;
   z-index: 1;
   max-height: 400px;
   overflow: auto;
 }

 .innerMessages {
   margin-bottom: 50px;
   max-height: 400px;
   overflow: scroll;
 }

 .message {
   color: grey;
   text-align: left;
   width: 200px;
   margin: auto 20px;
 }

 .message>p {
   background-color: rgb(34, 34, 58);
   color: white;
   border-radius: 50px;
   padding: 10px;
   max-width: 200px;
 }

 .my-message {
   color: grey;
   text-align: right;
   width: 300px;
   margin-left: 80px;
 }

 .my-message>p {
   color: white;
   border-radius: 50px;
   padding: 10px;
   max-width: 200px;
   margin-left: 120px;
   width: auto;
   text-align: left;
 }

 #new-message-form {
   width: 400px;
   font-size: 16px;
   border-top: .5px solid black;
   border-right: .5px solid black;
  border-left: .5px solid black;
    margin-left: -.5px;
   padding: 10px 20px 5px 20px;
   z-index: 2;
   position: fixed;
   bottom: 0;
   margin-bottom: 50px;
   background-color: white;
   display: flex;
 }

 .Red.message>p {
   background-color: red
 }

 .Orange.message>p {
   background-color: orange
 }

 .Green.message>p {
   background-color: green
 }

 .Blue.message>p {
   background-color: blue
 }

 .Purple.message>p {
   background-color: purple
 }

 .modal {
   position: fixed;
   z-index: 2;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.25);
 }

 .modal_content {
   background-color: white;
   position: absolute;
   top: 20%;
   left: 30%;
   width: 40%;
   padding: 20px;
   border-radius: 5px;
   border: 2px solid black;
 }

 .close {
   color: Black;
   float: right;
 }

 .close:hover {
   color: #f7da22;
   cursor: pointer;
 }

 .nav_child {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    max-width: 270px;
    font-weight: inherit;
    font-family: inherit;
    @media screen and (max-width: 540px) {
        max-width: 100%;
        width: 100%;
      }
 }


 span, p, button, h3, .left-container {
  font-weight: inherit;
  font-family: inherit;
 }