@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Libre Franklin";
}

nav {
  position: fixed;
  width: 100%;
  margin: 0px;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
}

nav.top {
  justify-content: space-between;
  top: 0;
  align-items: center;
  height: 70px;
  z-index: 5;
  padding: 0 15px 0 25px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  background-color: white;
}

h1 {
  font-weight: 900;
  font-size: xxx-large;
  margin: 0 0 10px;
  @media screen and (max-width: 500px) {
    font-size: xx-large;
  }
}

h2 {
  font-size: x-large;
  @media screen and (max-width: 500px) {
    font-size: large;
  }
}

body {
  text-align: center;
  background-color: white;
  margin: 0;
}

h5 {
  text-align: center;
  font-size: 21px;
}

input {
  outline: 0;
  border-width: 0 0 0.5px 0;
  border-color: #e6e6e6;
  font-size: 14px;
  margin: 0px auto auto auto;
  text-align: center;
  caret-color: transparent;
}

nav.bottom {
  bottom: 0;
  color: white;
  justify-content: flex-start;
  height: 50px;
  z-index: 1;
}

nav.bottom > button {
  width: 400px;
  right: 0;
  background-color: #f7da22;
  color: #333;
  font-size: 20px;
  border: 0.5px solid black;
}

button {
  cursor: pointer;
}

.notification {
  border: 2px solid red !important;
}

.notification::after {
  content: attr(data-count);
  position: absolute;
  top: -10px;
  left: 385px;
  width: 22px;
  height: 22px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  text-align: center;
  font-size: medium;
}

nav.top button {
  background: none;
  font-size: 16px;
}

.thin_border_button {
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  padding: 6px 10px;
  background: none;
}

.close {
  border: none;
}

.cell-bottom {
  float: left;
  border-left: 30px solid #e6e6e6;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}

.cell-top {
  float: left;
  border-right: 30px solid #e6e6e6;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}

.cell-center {
  float: left;
  width: 60px;
  height: 104px;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hex {
  float: left;
  margin-right: -26px;
  margin-bottom: -50px;
}

.hex.odd {
  padding-top: 53px;
}

.game-wrapper {
  width: 290px;
  font-weight: 600;
}

.game-container {
  margin-left: -20px;
}

.center .cell-center {
  background-color: #f7da22;
}

.center .cell-top {
  border-right: 30px solid #f7da22;
}

.center .cell-bottom {
  border-left: 30px solid #f7da22;
}

.special {
  padding-left: 93.5px;
}

.word-wrapper {
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  padding: 30px;
  height: fit-content;
}

.flex {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: 70px auto 0;
  justify-content: space-between;
  padding-top: 50px;
  max-width: 900px;
  column-gap: 50px;
  row-gap: 30px;
  overflow-x: hidden;
  @media screen and (max-width: 540px) {
    padding-top: 10px;
  }
}

.score {
  display: flex;
  justify-content: space-evenly;
  font-family: "Roboto Slab", serif;
}

.correct {
  text-align: left;
  border-bottom: 1px solid #e6e6e6;
  width: 90px;
  margin: 10px;
}

.Red {
  color: red;
}

.Orange {
  color: orange;
}

.Green {
  color: green;
}

.Blue {
  color: blue;
}

.Purple {
  color: purple;
}

.messageContainer {
  width: 400px;
  border: 0.5px solid black;
  min-height: 200px;
  bottom: 0;
  position: fixed;
  left: 0;
  margin-bottom: 50px;
  background-color: white;
  z-index: 1;
  max-height: 400px;
  overflow: auto;
  max-width: 100%;
}

.innerMessages {
  margin-bottom: 50px;
  margin-top: 20px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.message {
  color: grey;
  text-align: left;
  margin: auto 20px;
}

.message > p {
  background-color: rgb(34, 34, 58);
  color: white;
  border-radius: 20px;
  padding: 10px;
  max-width: 200px;
  overflow-wrap: break-word;
}

.my-message {
  color: grey;
  text-align: right;
  margin-left: 80px;
}

.my-message > p {
  color: white;
  border-radius: 20px;
  padding: 10px;
  min-width: 70%;
  margin-left: 30%;
  text-align: left;
  overflow-wrap: break-word;
}

#new-message-form {
  width: 400px;
  font-size: 16px;
  border-top: 0.5px solid black;
  border-right: 0.5px solid black;
  border-left: 0.5px solid black;
  margin-left: -0.5px;
  padding: 10px 20px 5px 20px;
  z-index: 2;
  position: fixed;
  bottom: 0;
  margin-bottom: 50px;
  background-color: white;
  display: flex;
  max-width: 100%;
}

.Red.message > p {
  background-color: red;
}

.Orange.message > p {
  background-color: orange;
}

.Green.message > p {
  background-color: green;
}

.Blue.message > p {
  background-color: blue;
}

.Purple.message > p {
  background-color: purple;
}

.modal {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  padding: 20px 20px 40px;
  border-radius: 5px;
  border: 2px solid black;
}

.close {
  color: Black;
  float: right;
  cursor: pointer;
}

.close:hover {
  color: #f7da22;
}

.loaderContainer {
  margin: 20% auto;
  max-width: 70%;
}

.join_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 400px;
  margin: 30px auto;
}

.nav_child {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 350px;
  font-family: inherit;
  gap: 10px;
  margin-left: 20px;
  @media screen and (max-width: 540px) {
    max-width: 100%;
    width: 100%;
  }
}

span,
p,
button,
h3,
.left-container,
h5 {
  font-family: inherit;
  font-weight: inherit;
}

.word-container {
  min-width: 300px;
  width: 100%;
  max-width: 430px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  height: fit-content;
}

.right-container {
  font-weight: 200;
  margin: 0 auto 10px;
}

.left-container {
  margin: auto;
  font-family: inherit;
  height: 500px;
  padding-left: 20px;
}

.shuffle {
  margin: 7px 0;
  cursor: pointer;
}

.chatbox-input {
  margin: 0;
  width: 100%;
  text-align: left;
}

.header {
  justify-content: space-between;
  background-color: white;
  top: 0;
  align-items: center;
  height: 70px;
  border-bottom: 0.2px solid #333;
  border-top: 0.2px solid #333;
  padding: 10px 10px;
}

.header > * {
  margin: 0px 5px;
}

.header > div {
  display: flex;
  flex-wrap: nowrap;
  margin: 0px 5px;
  width: 200px;
  align-items: center;
  justify-content: space-evenly;
}

.home {
  /* margin: 50px; */
  position: fixed;
  padding: 130px 60px 0px;
  height: 100vh;
  width: 100vw;
  background-color: #f7da22;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* overflow: hidden; */
  margin: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
  font-family: "Roboto Slab", serif;
  @media screen and (max-width: 500px) {
    padding: 100px 50px 0;
  }
}
.userLogin {
  margin: 0 auto;
  display: flex;
  max-width: 250px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.userLogin > p {
  margin: 0;
}

.color_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  @media screen and (max-width: 500px) {
    flex-direction: column;
    gap: 10px;
  }
}

.home button {
  background-color: black;
  color: rgb(248, 248, 248);
  border-radius: 20px;
  padding: 10px 18px;
  margin: 30px 10px 10px;
  border-width: 0px;
  min-width: 140px;
  font-weight: 600;
  font-size: 18px;
  font-family: "Libre Franklin";
  @media screen and (max-width: 500px) {
    margin: 20px 10px 10px;
  }
}

.home_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 26px;
}
